:root {
    --grisFonce: #353535;
    --grisPale: #D9D9D9;
    --vert: #3C6D71;
    --blanc: #FFFFFF;
    --bleu: #284A63;
}

@font-face {
    src: url(/asset/font/Quicksand-VariableFont_wght.ttf) format("truetype");
    font-family: "Quicksand";
}

h1,
.h1 {
    font-size: 100px;
    font-weight: bold;
    color: var(--bleu);
}

h2,
.h2 {
    font-size: 80px;
    font-weight: 800;
    color: var(--grisFonce);
}

h3,
.h3 {
    font-size: 60px;
    font-weight: 600;
    color: var(--vert);
}

h4,
.h4 {
    font-size: 40px;
    font-weight: 400;
    color: var(--grisFonce);
}

h5,
.h5 {
    font-size: 30px;
    font-weight: 200;
    color: var(--blanc);
}

h6,
.h6 {
    font-size: 20px;
    font-weight: 100;
    color: var(--grisFonce);
}

/*---------Styles Generaux------------*/

/*--------Section Hero---------*/

/*----------Section Foncsionntlite LP-------*/

/*-------- Section Vedetted APP -----------*/

/*------------Section Autres APP-----------*/

/* -------------Section Recherche APP--------*/

/*---------Section pied de page------*/
