/*---------Styles Header------------*/


/*--------Section Hero---------*/

.btn:hover {
  background-color: var(--grisFonce);
  color: var(--blanc);
  border-color: var(--blanc);
}

#annule {
  color: var(--grisFonce);
  border-color: var(--grisFonce);
}

.btn {
  color: var(--blanc);
  background-color: var(--vert);
  border-color: var(--blanc);
}

#Annule:hover {
  color: var(--blanc);
  background-color: var(--grisFonce);
  border-color: var(--blanc);
}

main {
  font-family: "Quicksand";
}

.iframe-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 5/9;
}

iframe {
  width: 100%;
  height: 100%;
}

/*----------Section Foncsionntlite LP-------*/

.icon {
  font-size: 10vh;
  color: var(--bleu);
}

/*----------Section temoignages LP-------*/

.card-img-top {
  height: 20vh;
  object-fit: cover;
  object-position: center;
}

/*
.temoin{
  background-color: #f6f5ec;
}
*/
/*---------Section pied de page------*/

footer {
  font-family: "Quicksand";
  background-color: var(--grisPale);
}

/*-----------infolettre---------------*/
#infolettre {
  background-image: url(../asset/img_infolettre.jpg);
  padding: 5em;
}

.bgOpacite {
  opacity: 0.6;
  background-color: rgb(175, 172, 172);
}

#espacemnt_header {
  height: 4em;
}

#espacemnt {
  height: 15em;
}

#sectAppli {
  height: 10em;
}

/*swiper*/
.swiper img {
  width: 40vh;
  height: 70vh;

}

/*SWIPER*/
.swiper-wrapper {
  margin-top: 2vw;
}


.swiper-slide img {
  border-color: rgb(196, 191, 191);
  border-width: 2em;
  border: solid;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 5px #a29b9b;

}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

}

/*
.swiper-nav{
  background-color: bisque;
}
*/
.swiper-button-prev,
.swiper-button-next {
  background-color: #284a6373;
  border: solid white 2px;
  color: white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 5em;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: rgb(37, 103, 92);
  color: white;
  border-color: white;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
  transition: opacity 0.5s ease;
  transform: scale(0.9);
}

.voirPlusTitre{
  text-align: center;
  margin-top: 3em;
}

.temoinTitre{
  margin-top: 2em;
}